{{#if user}}
<p>Welcome, {{user.first_name}} {{user.last_name}}!</p>
<a href="/logout">Logout</a>
{{else}}
<p>Welcome, guest!</p>
<a href="/login">Login</a>
{{/if}}
<div class="form-container">
    <h2>Browse the NYT Best Sellers by Category</h2>
    <form>
        <label for="category">Select a Category:</label>
        <select id="category" name="category" onchange="fetchBooksByCategory(this.value)">
            <option value="">Click to select...</option>
            {{#each categories}}
            <option value={{@key}}>{{this}}</option>
            {{/each}}
        </select>
    </form>
</div>
<div class="table-container form-container">
    <h2>Displaying Best Sellers in {{selectedCategory}}</h2>
    <table>
        <thead>
            <tr>
                <th id="bookRank">Rank</th>
                <th id="bookCover">Book Cover</th>
                <th id="bookTitle">Title</th>
                <th id="bookAuthor">Author</th>
                <th id="bookDetails">Book Details</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td headers="bookRank">{{this.rank}}</td>
                <td headers="bookCover"><a href={{this.amazon_product_url}} target="_blank"><img src={{this.img}} height="192" width="128"></a></td>
                <td headers="bookTitle">{{this.title}}</td>
                <td headers="bookAuthor">{{this.author}}</td>
                <td headers="bookDetails">{{this.details}}</td>
                <td><input class="modal-open" data-modal="edit-customer-modal" type="submit" value="Add to List" onclick="setDefaults(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>