<div class="table-container form-container">
    <h2>My Favorite Best Sellers</h2>
    <table>
        <thead>
            <tr>
                <th id="number">No.</th>
                <th id="cover">Book Cover</th>
                <th id="title">Title</th>
                <th id="author">Author</th>
                <th id="isbn">ISBN</th>
                <th id="details">Book Details</th>
            </tr>
        </thead>
        <tbody>
            {{#each favorites}}
            <tr>
                <td headers="number">{{inc @index}}</td>
                <td headers="cover"><a href={{this.amazon_product_url}} target="_blank"><img src={{this.img}} height="192" width="128"></a></td>
                <td headers="title">{{this.title}}</td>
                <td headers="author">{{this.author}}</td>
                <td headers="isbn">{{this.isbn}}</td>
                <td headers="details">{{this.details}}</td>
                <td><input class="deleteProduct" type="submit" value="Delete" onclick="deleteRowAJAX(this)"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>